@font-face {
    font-family: 'animeace2_ital';
    src: url('font/animeace2_ital.ttf');
}
body
{
	background-color:darkgrey;
	font-family: 'animeace2_ital';
}

header
{
	margin-left: 100px;
	margin-right: 100px;
	width: 90% auto;

}
nav ul
{
    list-style-type: none;
    display: flex;
}
nav li
{
    margin-right: 15px;
}
nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}
.banniere_image
{
	margin-top: 40px;
	height: 300px;
	border-radius: 5px;
	background: url('image/hitashi.jpeg');
	position: relative;
	box-shadow: 0px 4px 4px #1c1a19;
	margin-bottom: 25px;
}
.form
{
	margin: 10px;
	width: 300px;

	/* To see the limits of the form */
	padding: 1em;

	border-radius: 1em;
	display: inline-table;
}
/*.Descrip
{
	margin-left: 150px;
}*/
article
{
	margin-left: 100px;
}
h1
{
	text-align: center;
}
